<ion-content padding>
  <ion-avatar class="avatar">
    <img src="/assets/images/agente.svg" >
  </ion-avatar>
  <ion-label>
    <h2>{{conversacionIniciada.titulo}}</h2>
    <p>{{conversacionIniciada.descripcion}}</p>
  </ion-label>
  <ion-progress-bar class="progress-bar" type="indeterminate"></ion-progress-bar>

  <ng-container *ngIf="tipoLlamada === 'saliente' then saliante; else entrante" ></ng-container>
  <ng-template #saliante >
    <ion-button
      (click)="cancelar()"
      expand="block"
      shape="round"
      color="primary"><ion-icon slot="start" name="videocam"></ion-icon>Cancelar Videollamada</ion-button>
  </ng-template>
  <ng-template #entrante>
    <div style="width:50%; margin: 0 auto;">
      <ion-fab vertical="center" horizontal="start" slot="fixed">
          <ion-fab-button (click)="aceptar()" color="primary" >
            <ion-icon name="videocam"></ion-icon>
          </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="center" horizontal="end" slot="fixed">
          <ion-fab-button (click)="rechazar()" color="secundary">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
      </ion-fab>
    </div>
  </ng-template>
</ion-content>
<style>
.avatar{
  margin: 20px auto;
}

.progress-bar{
  margin-top: 30px;
  margin-bottom: 30px;
}
</style>