<ion-content padding>
  <ion-avatar class="avatar">
    <img src="/assets/images/agente.svg" >
  </ion-avatar>
  <ion-label>
    <h2>{{conversacionIniciada.titulo}}</h2>
    <p>{{conversacionIniciada.descripcion}}</p>
  </ion-label>
  <ion-progress-bar class="progress-bar" type="indeterminate"></ion-progress-bar>

  <ng-container *ngIf="tipoLlamada === 'saliente' then saliante; else entrante" ></ng-container>
  <ng-template #saliante >
    <ion-button
      (click)="cancelar()"
      expand="block"
      shape="round"
      color="primary"><ion-icon slot="start" name="videocam"></ion-icon>Cancelar Videollamada</ion-button>
  </ng-template>
  <ng-template #entrante>
      <ion-fab vertical="center" horizontal="start" slot="fixed">
          <ion-fab-button color="primary" >
            <ion-icon name="videocam"></ion-icon>
          </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="center" horizontal="start" slot="fixed">
          <ion-fab-button>
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
      </ion-fab>
      <!--<ion-button
       expand="block"
       shape="round"
       color="primary"><ion-icon slot="start" name="videocam"></ion-icon>Contestar</ion-button>
      <ion-button
       expand="block"
       shape="round"
       color="secundary"><ion-icon slot="start" name="videocam"></ion-icon>Ignorar</ion-button>
      -->
  </ng-template>
</ion-content>
<style>
.avatar{
  margin: 20px auto;
}

.progress-bar{
  margin-top: 30px;
  margin-bottom: 30px;
}
</style>