<ng-template [ngIf]="conversacion">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="primary">
        <ion-button color="light">
          <ion-icon slot="icon-only" name="videocam"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="light">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ conversacion.titulo }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding class="contenido-mensajes">
    <ng-template [ngIf]="conversacion.mensajes" >
        <app-mensaje *ngFor="let m of conversacion.mensajes"
        [usuario]="usuario"
        [mensaje]="m"
        [style.opacity]="mensajesSegundoPlano? 0.4 : 1"
        ></app-mensaje>
    </ng-template>   
  </ion-content>
  <ion-footer>
    <app-barra-mensaje
    (toggleFabList)="onToogleFabList()"
    (enviarMensaje)="onEnviarMensaje($event)" 
    (inicioEscribiendo)="onInicioEscribiendo($event)"
    (finEscribiendo)="onFinEscribiendo($event)"></app-barra-mensaje>
  </ion-footer>
</ng-template>
<style>
  .contenido-mensajes {
    background-image: url("/assets/images/fondo_chat.jpg");
  }

</style>
