<ion-content padding id="dashboard-content">
  <div id="card">
    <img class="demo-logo" src="assets/images/openvidu_white_bg_transp.png" />

    <div id="form">
      <ion-item align="center">
        <ion-label position="floating" color="light">Nombre Usuario</ion-label>
        <ion-input
          [(ngModel)]="nombreUsuario"
          color="light"
          (keyup.enter)="loginCckall()"
        ></ion-input>
      </ion-item>
      
      <ion-item align="center">
        <ion-label position="floating" color="light">Clave</ion-label>
        <ion-input
          [(ngModel)]="claveUsuario"
          type="password"
          color="light"
          (keyup.enter)="loginCckall()"
        ></ion-input>
      </ion-item>

      <ion-button
        id="join-button"
        (click)="loginCckall()"
        expand="block"
        shape="round"
        color="primary"
      >
        <ion-icon slot="start" name="videocam"></ion-icon>
        Iniciar sesión
      </ion-button>
    </div>
  </div>
</ion-content>
