// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root {
    --ion-background-color: transparent;
    --cckall-primary-color:#56779c;
    --cckall-secundary-color:#3a5675;
    --cckall-background-color:#e9f0f3;
    --cckall-header-primary-color:#3a5675;
    --cckall-header-secundary-color:#808080;
}