<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="toolbar">Videollamadas CCKALL</ion-title>
    <ion-title class="subtitulo">{{titulo}}</ion-title>
    <ion-segment [(ngModel)]="tabId" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="tabContactos">
          <ion-icon name="contact"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="tabConversaciones">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="tabSettings">
          <ion-icon name="settings"></ion-icon>
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="tabId">
        <ion-list *ngSwitchCase="'tabContactos'">
            <ion-list *ngFor="let c of contactos"> 
                <ion-item (click)="onSeleccionarContacto(c)" >
                  <ion-avatar slot="start">
                    <img src="/assets/images/agente.svg" >
                  </ion-avatar>
                  <ion-label>
                    <h3>Agente</h3>
                    <p>{{c.nombre}} {{c.apellido}}</p>
                  </ion-label>                          
                </ion-item>
              </ion-list>
        </ion-list>
        <ion-list *ngSwitchCase="'tabConversaciones'">
            <ion-list *ngFor="let c of conversaciones"> 
                <ion-item (click)="onSeleccionarConversacion(c)" >
                  <ion-avatar slot="start">
                    <img src="/assets/images/grupo.svg" >
                  </ion-avatar>
                  <ion-label>
                    <h3>{{c.titulo}}</h3>
                    <p>{{c.vistaPrevia}} </p>
                  </ion-label>                          
                </ion-item>
              </ion-list>
              <ion-item *ngIf="!conversaciones || (conversaciones && conversaciones.length === 0)">
                <h3>No hay Conversaciones</h3>
              </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'tabSettings'">
          <ion-item>Contenido del segmento 3</ion-item>
        </ion-list>
    </div>
</ion-content>
<style>
.toolbar{
  margin-top: 20px;
  margin-bottom: 20px;
}
.subtitulo{
  font-size: 14px;
  margin-bottom: 15px;
}
.nombre-contacto{
  font-size: 12px;
}

.icono-btn{
  cursor: pointer;
}
</style>